<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="ro.pata.jpa.eni" level="info"/>

    <!--
    <logger name="log4j.logger.org.hibernate" level="INFO, hb"/>
    <logger name="log4j.logger.org.hibernate.SQL" level="DEBUG"/>
    <logger name="log4j.logger.org.hibernate.type" level="TRACE"/>
    <logger name="log4j.logger.org.hibernate.hql.ast.AST" level="info"/>
    <logger name="log4j.logger.org.hibernate.tool.hbm2ddl" level="warn"/>
    <logger name="log4j.logger.org.hibernate.hql" level="debug"/>
    <logger name="log4j.logger.org.hibernate.cache" level="info"/>
    <logger name="log4j.logger.org.hibernate.jdbc" level="debug"/>
    -->

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>